LexToken(ID,'PLC',2,1)
LexToken(ID,'teste',2,5)
LexToken(ID,'var',4,12)
LexToken(ID,'a',5,20)
LexToken(ASSIGN,'=',5,22)
LexToken(NUMBER,10,5,24)
LexToken(SEMICOLON,';',5,26)
LexToken(ID,'b',6,32)
LexToken(ASSIGN,'=',6,34)
LexToken(NUMBER,20,6,36)
LexToken(SEMICOLON,';',6,38)
LexToken(ID,'begin',8,41)
LexToken(ID,'read',9,51)
LexToken(ID,'a',9,56)
LexToken(SEMICOLON,';',9,57)
LexToken(ID,'b',10,63)
Caractere Inválido: :
LexToken(ASSIGN,'=',10,66)
LexToken(ID,'a',10,68)
LexToken(PLUS,'+',10,70)
LexToken(NUMBER,1,10,72)
LexToken(SEMICOLON,';',10,73)
LexToken(ID,'write',11,79)
LexToken(ID,'b',11,85)
LexToken(SEMICOLON,';',11,86)
LexToken(ID,'end',12,88)
