START
PUSHI 0
PUSHI 10
PUSHI 100
PUSHI 0
PUSHG 1
PUSHI 2

MUL
PUSHG 2
PUSHI 4

DIV

ADD
STOREG 1
PUSHS "Result: "
WRITES
WRITELN
PUSHG 1

WRITEI
WRITELN
PUSHG 1
PUSHI 50
SUP
JZ L1
PUSHS "Result is greater than 50"
WRITES
WRITELN
JUMP L1f
L1: NOP
PUSHS "Result is less than or equal to 50"
WRITES
WRITELN
L1f: NOP
L2:
PUSHG 0
PUSHI 5
INF

JZ L3
PUSHS "Counter: "
WRITES
WRITELN
PUSHG 0

WRITEI
WRITELN
PUSHG 0
PUSHI 1
ADD
STOREG 0

JUMP L2
L3:
PUSHI 0
L4:
PUSHG 4
PUSHI 3
INF

JZL5
PUSHS "For loop iteration: "
WRITES
WRITELN
PUSHG 4

WRITEI
WRITELN

PUSHG 4
PUSHI 1
ADD
STOREG 4

JUMP L4
L5:
PUSHS "Enter a number: "
WRITES
WRITELN
READ
ATOI
STOREG 3
PUSHG 3
PUSHI 0
PUSHG 3
PUSHI 10
INF
ADD
PUSHI 2
SUPEQ
SUP

JZ L6
PUSHS "Number is between 0 and 10"
WRITES
WRITELN

L6: NOP
PUSHG 1
PUSHG 3
PUSHG 0

MUL

ADD
PUSHG 2
PUSHI 2

DIV

SUB
STOREG 1
PUSHS "Final result: "
WRITES
WRITELN
PUSHG 1

WRITEI
WRITELN

STOP